{% extends 'content_base.html.twig' %}

 {% block content_body %}
    <h1>Edit the article! 🚀</h1>
    {{ include('article_admin/_form.html.Twig', {
        button_text: 'Update!'
    }) }}

 {% endblock %}